<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <conversionRule conversionWord="crlf" converterClass="com.nbc.news.util.CustomCRLFConverter"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%X{REQ}] %highlight(%-5.5level) %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.nbc.news" level="debug"/>

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>